.flex-container {

    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    text-align: center;
}

.item {

    flex: 100%;
    text-align: center;
}


h2 {

    background-color: lightcyan;
    padding: 30px;
}
