
*{
    box-sizing: border-box;
}

.flex-container{

    display: flex;
    border-width: 40px;
    flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  justify-content: space-evenly;
}

.address1, .address2{

    border-radius: 10px;
    background-color: bisque;
}