* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  text-align: center;

}

.it-services,
.network-is,
.infra-services,
.enterprise-solution {

  flex: 400px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
}

h2 {
  background-color: lightblue;
  padding: 30px;
}